#btn{
    background-color: white;
    color: #FFB800;
    box-shadow: 10px 10px 5px 12px;
}
#pp{
    color: #FFB800;}
    .cont1{

        padding-right: 30px;
    }
  
    .cont2{
        padding-left: 28px;
    }
    .cont3{
        padding-left: 160px;
    }