#btn{
    background-color: white;
    color: #FFB800;
    box-shadow: 2px 0px 6px 1px;
}
#pp{
    color: #FFB800;}
    .cont1{

        padding-right: 30px;
    }
  
    .cont2{
        /* padding-left: 28px; */
    }
    .cont3{
        padding-left: 89px;
    }
    .cont4{
        padding-left: 18px;
    }
    .container1{
        display: grid;
        background-color: #FFB800;
        width: 100%;
        height: 30%;
    }
    .form{
        display: flex;
        background-color: azure;
        width: 100%;
        height: 70%;
    }
    #btn1{
        color: #FFB800;
    }
    #btn2{
        color: #757575;
    }